<h1>
  Login Admin
</h1>

<form action="{{ route('admin.login') }}" method="POST">
  @if (flashMessages.has('form'))
    <div role="alert">
      {{ flashMessages.get('form') }}
    </div>
  @endif

  <label>
      Email
      <input type="email" name="email">
  </label>

  <label>
      password
      <input type="password" name="password">
  </label>

  <button type="submit">Login</button>
</form>