<html>
    <head>
        <title>My Title</title>
    </head>

    <body>
        @if (auth.user)
            <a href="{{ route('admin.logout') }}">Logout</a>  
        @endif

        <h1>{{ roles }}</h1>

       <p>Hello World</p>
    </body>
</html>