<h1>
    Register User
</h1>

<form action="{{ route('register') }}" method="POST">
    <label>
        Username
        <input type="text" name="name">
    </label>

    <label>
        Email
        <input type="email" name="email">
    </label>

    <label>
        Roles
        <input type="text" name="roles">
    </label>

    <label>
        password
        <input type="password" name="password">
    </label>

    <button type="submit">Register</button>
</form>