<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>
  @include('layouts/header')

  @include('partials/notifications')

  @!section('body')

  @include('layouts/footer')
</body>

</html>